h1 {
  text-align: center;
}

.glyphicon {
  font-size: 3em;
  display: block;
  text-align: center;
  color: blue;
}

.jumbotron {
    margin-top: 30px;
    margin-bottom: 50px;
    background-image: url(../img/jumbotronbackground.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#carousel2 {
  background-image: url(../img/pine.jpg);
}

body {
  padding-top: 0px;
  background-color: #F5FFFA;
  background-image: url(../img/bg.jpg);
}

.container {
  max-width: 1000px;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  color: black;
  text-decoration: none;
}

#jumbotron_text {
  text-shadow: black 0.1em 0.2em 0.4em;
}

#myrows {
    border: 1px solid black;
    background
}

.img-simon {

    width: 50%;
}
