h1 {
  text-align: center;
}

.glyphicon {
  font-size: 3em;
  display: block;
  text-align: center;
  color: blue;
}

.jumbotron {
    margin-bottom: 50px;
    background-image: url(../img/jumbotronbackground.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

body {
  background-color: #F5FFFA;
  background-image: url(../img/bg.jpg);
  padding-top: 50px;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  color: black;
  text-decoration: none;
}
